.Player {
	position: absolute;
	top: 0;
	left: 0;
	width: 3.1em;
	height: 4.4em;
}
.Player img{
	position: absolute;
	top: 0;
	left: 0;
	width: 3.1em;
	height: 4.4em;
	z-index: 1;
}

.Player-wings {
	position: absolute;
	left: 0.25em;
	top: 0.4em;
	height: 0.5em;
	width: 1em;
	/*background: black;*/
	transform: translateZ(0);
	transform-origin: top left;
}

#Player-wings-left {
	left: -2.99em;
	top: 0.4em;
	z-index: 0;
	/*animation: 0.4s flap-l alternate infinite;*/
	transform-origin: right;
}

#Player-wings-right {
	left: 2.8em;
	top: 0.4em;
	z-index: 0;
	/*animation: 0.4s flap-r alternate infinite;*/
}

#Floor {
	position: absolute;
	background-image: url('/images/floor.png');
	background-size: 3.95em, auto;
	width: 500em;
	height: 10.4em;
}

.Clouds {
	position: absolute;
	background-image: url('/images/cloud.png');
	background-size: 14em, auto;
	width: 200em;
	height: 14em;
}

.Pipe1Upper {
	position: absolute;
	top: 0;
	left: 0;
	width: 6em;
	height: 10em;
	border: 0.1em solid rgb(200,200,200);
	background: linear-gradient(to right, green , lightgreen);
}
.Pipe1Lower {
	position: absolute;
	top: 0;
	left: 0;
	width: 6em;
	height: 30em;
	border: 0.1em solid rgb(200,200,200);
	background: linear-gradient(to right, green , lightgreen);
}
.Pipe2Upper {
	position: absolute;
	top: 0;
	left: 0;
	width: 6em;
	height: 20em;
	border: 0.1em solid rgb(200,200,200);
	background: linear-gradient(to right, blue , skyblue);
}
.Pipe2Lower {
	position: absolute;
	top: 0;
	left: 0;
	width: 6em;
	height: 30em;
	background: linear-gradient(to right, blue , skyblue);
	border: 0.1em solid rgb(200,200,200);
}
.Pipe3Upper {
	position: absolute;
	top: 0;
	left: 0;
	width: 6em;
	height: 10em;
	background: linear-gradient(to right, purple , pink);
	border: 0.1em solid rgb(200,200,200);
}
.Pipe3Lower {
	position: absolute;
	top: 0;
	left: 0;
	width: 6em;
	height: 30em;
	background: linear-gradient(to right, purple , pink);
	border: 0.1em solid rgb(200,200,200);
}
.Pipe4Upper {
	position: absolute;
	top: 0;
	left: 0;
	width: 6em;
	height: 15em;
	background: linear-gradient(to right, orange , yellow);
	border: 0.1em solid rgb(200,200,200);
}
.Pipe4Lower {
	position: absolute;
	top: 0;
	left: 0;
	width: 6em;
	height: 30em;
	background: linear-gradient(to right, orange , yellow);
	border: 0.1em solid rgb(200,200,200);
}
.Scoreboard {
	position: absolute;
	left: 50%;
	top: 10em;
	height: 30em;
	width: 40em;
	margin-left: -20em;
	box-sizing: border-box;
	background: purple;
	text-align: center;
	transform: translateZ(0) translate(0, -40em);
	transition: transform 0.5s;
}
/**
* Reset transform to animate it into the correct spot on the screen.
*/
.Scoreboard.is-visible {
	transform: translateZ(0);
	transform: none;
}
.Scoreboard-restart {
	margin-top: 0em;
	font-size: inherit;
	padding: 0.4em 10em;
	border: 0.2em solid white;
	background: none;
	cursor: pointer;
}

.Scoreboard-score {
	font-family: 'Verdana', serif;
	font-size: 1.8em;
	color: white;
}


.Scoreboard-restartText {
	font-family: 'Verdana', serif;
	font-size: 2.4em;
	color: white;
}

body {
	background: black;
}
.browsehappy {
	margin: 0.2em 0;
	background: ?#?ccc?;
	color: #000;
	padding: 0.2em 0;
}
.GameCanvas {
	font-size: 10px;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 102.4em;
	height: 57.6em;
	margin-left: -51.2em;
	margin-top: -28.8em;
	overflow: hidden;
	background: rgb(30,30,30);
}